@model Application.Dtos.GatewayDtoForCreate


    <form action="@Url.Action("Create","Gateway")" method="post">
        <input asp-for="Name"/>
        <input asp-for="Ipv4Address"/>
        <button class="btn btn-success" type="submit">@Domain.Localization.Resource.btn_Add</button>
        <a class="btn btn-secondary" href="@Url.Action("Create","Gateway")">@Domain.Localization.Resource.btn_Cancel</a>
    </form>
