@model Application.Dtos.EstudianteDtoForUpdate


<form action="@Url.Action("Edit","Estudiante")" method="post">
    <input asp-for="Nombre" />
    <input asp-for="FechaNacimiento" type="date"/>
    <input asp-for="Grado" type="number"/>
    <select asp-for="EscuelaId" asp-items="ViewBag.Escuelas" ></select>
    <button class="btn btn-success" type="submit">Editar</button>
    <a class="btn btn-secondary" href="@Url.Action("Index","Estudiante")">Cancelar</a>
</form>
