@model Application.Dtos.CursoDto

@{
    ViewData["Title"] = "Borrar Curso";
}

<div class="text-center">
    <h1 class="display-4">Detalles de Curso</h1>
    <h3 class="display-4">Esta seguro que desea eliminar ?</h3>
</div>

<div class="row">
    <div class="col-12  col-md-4">
        <b><label asp-for="Nombre"></label> </b>
        @Model.Nombre
    </div>
    <div class="col-12  col-md-4">
        <b><label asp-for="Descripcion"></label> </b>
        @Model.Descripcion
    </div>
    <div class="col-12  col-md-4">
        <b><label asp-for="Escuela"></label> </b>
        @Model.Escuela?.Nombre
    </div>
</div>
<div class="row">
    <a class="btn btn-secondary" href="/Curso/Index">Cancelar</a>
    <a class="btn btn-danger" href="/Curso/DeleteConfirm/@Model.Id">Eliminar</a>
</div>