@model Application.Dtos.EscuelaDtoForCreate


    <form action="@Url.Action("Create","Escuela")" method="post">
        <input asp-for="Nombre"/>
        <button class="btn btn-success" type="submit">@Domain.Localization.Resource.btn_Add</button>
        <a class="btn btn-secondary" href="@Url.Action("Create","Escuela")">@Domain.Localization.Resource.btn_Cancel</a>
    </form>
