@model Application.Dtos.MatriculaDtoForCreate


<form action="@Url.Action("Create","Matricula")" method="post">
    
    <select asp-for="CursoId" asp-items="ViewBag.Cursos" ></select>
    <select asp-for="EstudianteId" asp-items="ViewBag.Estudiantes" ></select>
    <input asp-for="NotaFinal" />

    <button class="btn btn-success" type="submit">Adicionar</button>
    <a class="btn btn-secondary" href="@Url.Action("Create","Matricula")">Cancelar</a>
</form>
