@model Application.Dtos.MatriculaDtoForUpdate


<form action="@Url.Action("Edit","Matricula")" method="post">
    <select asp-for="CursoId" asp-items="ViewBag.Cursos" ></select>
    <select asp-for="EstudianteId" asp-items="ViewBag.Estudiantes" ></select>
    <input asp-for="NotaFinal" />

    <button class="btn btn-success" type="submit">@Domain.Localization.Resource.btn_Edit</button>
    <a class="btn btn-secondary" href="@Url.Action("Index","Matricula")">@Domain.Localization.Resource.btn_Cancel</a>
</form>
