@model Application.Dtos.PersonaDtoForCreate


    <form action="@Url.Action("Create","Persona")" method="post">
        <input asp-for="Nombre"/>
        <input asp-for="Apellidos"/>
        <button class="btn btn-success" type="submit">@Domain.Localization.Resource.btn_Add</button>
        <a class="btn btn-secondary" href="@Url.Action("Create","Persona")">@Domain.Localization.Resource.btn_Cancel</a>
    </form>
