@page "/"

@inject IStringLocalizer<Resource> Localizer

<PageTitle>@Localizer[Resource.page_Index]</PageTitle>

<h1>@Localizer[Resource.display_Welcome]</h1>

@Localizer[Resource.display_WelcomeMessage]

