@page "/500"
@inject IStringLocalizer<Resource> Localizer

<PageTitle>@Localizer[Resource.page_500]</PageTitle>

<h1>@Localizer[Resource.display_500]</h1>

@Localizer[Resource.display_500_Description]

