@page "/404"
@inject IStringLocalizer<Resource> Localizer

<PageTitle>@Localizer[Resource.page_404]</PageTitle>

<h1>@Localizer[Resource.display_404]</h1>

@Localizer[Resource.display_404_Description]

