@page "/401"
@inject IStringLocalizer<Resource> Localizer

<PageTitle>@Localizer[Resource.page_401]</PageTitle>

<h1>@Localizer[Resource.display_401]</h1>

@Localizer[Resource.display_401_Description]

