@model Application.Dtos.CategoriaDtoForUpdate


    <form action="@Url.Action("Edit","Categoria")" method="post">
        <input asp-for="Nombre"/>
        <button class="btn btn-success" type="submit">Editar</button>
        <a class="btn btn-secondary" href="@Url.Action("Index","Categoria")">Cancelar</a>
    </form>
